.list-cell{
    -fx-font-size: 14.0;
    -fx-font-family: Menlo;
}

.delete-button {
    -fx-base:  #bf2626;
    -fx-text-fill: white;
}

.search-field {
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.3), 5, 0.2, 0, 2);
}

.messages {
    -fx-selection-bar: #B2B2B2;
    -fx-selection-bar-non-focused: #B2B2B2;
}